.container{
    text-align: center;
    display:'inline-flex';

    height: 92vh;
    margin-left: auto;
    margin-right: auto;
}


#dicomImage{
    width: 35vw;
    height: 35vw;


    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 35vw; */

}